@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

@font-face {
    font-family: 'D2coding';
    font-weight: 400;
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothicCoding/D2Codingligature.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothicCoding/D2Codingligature.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothicCoding/D2Codingligature.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothicCoding/D2Codingligature.ttf) format("truetype");
}

@font-face {
    font-family: 'D2Coding';
    font-weight: 700;
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothicCoding/D2CodingligatureBold.eot);
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothicCoding/D2CodingligatureBold.eot?#iefix) format("embedded-opentype"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothicCoding/D2CodingligatureBold.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumGothicCoding/D2CodingligatureBold.ttf) format("truetype");
}

body {
    font-family: 'Nanum Gothic', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Nanum Gothic', sans-serif;
}

code {
    font-family: 'D2Coding', sans-serif;
}

pre {
    font-family: 'D2Coding', sans-serif;
}
